# Dependencies
node_modules/

# Environment variables
.env
*.env.local

# Angular build output
frontend/dist/
frontend/.angular/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
